* {
    /* font-family: "Playwrite DE Grund", cursive; */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

ul li {
    list-style-type: none;
}

:root {
    --color-main: #FFE4E3;
    --color-primary: #EFEFEF;
    --color-text: #808080;
    --color-text-prim: lightcoral;
    --color-white: #FEFEFE;
}