* {
    /* font-family: "Playwrite DE Grund", cursive; */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

ul li {
    list-style-type: none;
}

:root {
    --color-main: #F7D9C4;
    --color-primary: #FEFEFE;
    --color-text: #808080;
    --color-text-prim: lightcoral;
}