/* Header */
header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
    transition: background-color 0.6s ease;
}

header.scrolled {
    background-color: #EFEFEF;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

header .inner-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header .inner-header a {
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
}

header .head-left img {
    padding: 27.5px 0px;
}

header .head-mid ul {
    display: flex;
    flex-direction: row;
}

header .head-mid ul li:hover {
    background-color: var(--color-main);
    transition: 0.5s;
}

header .head-mid ul li {
    padding: 30px 40px;
    font-size: 20px;
    color: black;
}

header .head-right {
    display: flex;
    align-items: center;
}

header .head-right p {
    margin: 0;
    font-size: 20px;
    color: var(--color-text);
    justify-content: center;
}

header .head-right p:hover {
    color: black;
    transition: 0.5s;
}

header .inner-header .hMenu {
    display: none;
    top: 100%;
    width: 100%;
    margin: auto;
    z-index: 1000;
    background-color: var(--color-primary);
    border: 2px solid var(--color-white-hover);
    border-radius: 8px;
    position: absolute;
    text-align: center;
}

header .inner-header .hMenu ul {
    padding: 0;
}

header .inner-header .hMenu ul li {
    padding: 1rem 0;
    border-top: 1px solid lightgray;
    margin: 0 40px;
}

header .inner-header .menu {
    font-weight: 700;
    font-size: 30px;
    display: none;
    margin-top: auto;
    margin-bottom: auto;
}
header .inner-header .menu i{
    padding: 0;
}
@media (max-width : 1199.98px) {
    header .inner-header .menu{
        display: block;
    }
    header .inner-header .head-mid {
        display: none;
    }

    header .inner-header .head-right {
        display: none;
    }

    header .head-left img{
        margin: auto;
        width: 80%;
        height: auto;
        padding: 1.5rem 0;
    }
}

@media (max-width: 767.98px){
    header .inner-header .menu{
        font-size: 1.5rem;
    }
    header .head-left img{
        width: 60%;
        padding: 1rem 0;
    }
}
/* End Header */

/* Section One */
.section-one{
    background-color: var(--color-primary);
}
.section-one .inner-content{
    padding: 8rem 0;
}
.section-one .inner-content .danh-muc{
    padding: 0.6rem;
    border-radius: 0.8rem;
    background-color: white;
}
.section-one .inner-content .danh-muc h2{
    font-size: 1rem;
    font-weight: 900;
    margin-left: 0.6rem;
    margin-top: 0.2rem;
}
.section-one .inner-content .danh-muc ul{
    padding: 0;
    margin: 0;
}
.section-one .inner-content .danh-muc ul li{
    margin: 0;
    padding: 0.6rem;
    font-size: 0.7rem;
    /* border: 1px solid lightgray; */
    border-radius: 0.6rem;
}
.section-one .inner-content .danh-muc ul li:hover{
    background-color: var(--color-primary);
}
.section-one .san-pham{
    background-color: white;
    padding: 2rem;
    border-radius: 0.8rem;
}
.section-one .san-pham .item{
    border: 0.5px solid lightgray;
    border-radius: 0.6rem;
}
.section-one .san-pham .item{
    margin-bottom: 2rem;
}
.section-one .san-pham .item .img{
    overflow: hidden;
    object-fit: contain;
}
.section-one .san-pham .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
}
.section-one .san-pham .item p{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem;
    margin-top: 2rem;
}
.section-one .san-pham .item .price{
    font-size: 1rem;
    font-weight: 800;
    margin: 1rem;
    color: lightcoral;
}

/* End Section One */

/* Footer */
footer{
    padding: 3rem 0rem;
    background-color: #2C3E50;
}
footer h3{
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}
footer .row{
    border-top: 1px solid white;   
    padding: 1rem 0;
    color: white; 
    font-size: 1rem;
}
footer .row h4{
    font-size: 1rem;
    font-weight: 700;
}
footer .row .contact{
    display: flex;
    flex-direction: row;
}
footer .row .contact i{
    padding-right: 0.8rem;
    font-size: 1.5rem;
}
@media(max-width: 767.98px){
    footer{
        padding: 2.5rem;
    }
    footer h3{
        font-size: 1rem;
    }
    footer h4{
        font-size: 0.8rem;
    }
    footer p{
        font-size: 0.6rem;
    }
}
@media(max-width: 575.98px){
    footer .row .contact{
        margin-bottom: 1rem;
    }
    footer{
        padding: 1rem;
        padding-bottom: 0;
    }
}
/* End Footer */
