/* Header */
header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
    transition: background-color 0.6s ease;
}

header.scrolled {
    background-color: #EFEFEF;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

header .inner-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header .inner-header a {
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
}

header .head-left img {
    padding: 27.5px 0px;
}

header .head-mid ul {
    display: flex;
    flex-direction: row;
}

header .head-mid ul li:hover {
    color: var(--color-text);
    transition: 0.2s;
}

header .head-mid ul li {
    padding: 30px 40px;
    font-size: 20px;
    color: black;
}

header .head-right {
    display: flex;
    align-items: center;
}

header .head-right p {
    margin: 0;
    font-size: 20px;
    color: var(--color-text);
    justify-content: center;
}

header .head-right p:hover {
    color: black;
    transition: 0.5s;
}

header .inner-header .hMenu {
    display: none;
    top: 100%;
    width: 100%;
    margin: auto;
    z-index: 1000;
    background-color: var(--color-primary);
    border: 2px solid var(--color-white-hover);
    border-radius: 8px;
    position: absolute;
    text-align: center;
}

header .inner-header .hMenu ul {
    padding: 0;
}

header .inner-header .hMenu ul li {
    padding: 1rem 0;
    border-top: 1px solid lightgray;
    margin: 0 40px;
}

header .inner-header .menu {
    font-weight: 700;
    font-size: 30px;
    display: none;
    margin-top: auto;
    margin-bottom: auto;
}

header .inner-header .menu i {
    padding: 0;
}

@media (max-width : 1199.98px) {
    header .inner-header .menu {
        display: block;
    }

    header .inner-header .head-mid {
        display: none;
    }

    header .inner-header .head-right {
        display: none;
    }

    header .head-left img {
        margin: auto;
        width: 80%;
        height: auto;
        padding: 1.5rem 0;
    }
}

@media (max-width: 767.98px) {
    header .inner-header .menu {
        font-size: 1.5rem;
    }

    header .head-left img {
        width: 60%;
        padding: 1rem 0;
    }
}

/* End Header */

/* Section One */
.section-one {
    background-color: var(--color-primary);
}

.section-one .inner-content {
    padding: 10rem;
    padding-bottom: 6rem;
    text-align: center;
}

.section-one .top h3 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.section-one .bottom img {
    width: 15%;
    overflow: hidden;
    height: auto;
}

/* End Section One */

/* Section Two */
.section-two {
    background-color: var(--color-br-dark);
}

.section-two .inner-content {
    padding: 2rem 0;
}

.section-two .search-bar {
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 0.8rem;
}

.section-two .search-bar .inner-search-bar {
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.section-two .search-bar input {
    width: 90%;
    border: none;
    border-right: 0.5px solid gray;
    outline: none;
    padding: 0.25rem;
}

.section-two .search-bar button {
    width: 9%;
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    font-weight: 600;
}

.section-two .search-bar button:hover {
    color: rgb(55, 55, 219);
}

.section-two .inner-content .danh-muc {
    padding: 0.6rem;
    border-radius: 0.8rem;
    background-color: white;
}

.section-two .inner-content .danh-muc h2 {
    font-size: 1rem;
    font-weight: 900;
    margin-left: 0.6rem;
    margin-top: 0.2rem;
}

.section-two .inner-content .danh-muc ul {
    padding: 0;
    margin: 0;
}

.section-two .inner-content .danh-muc ul li {
    margin: 0;
    padding: 0.6rem;
    font-size: 0.7rem;
    border-radius: 0.6rem;
}

.section-two .inner-content .danh-muc ul li:hover {
    background-color: var(--color-primary);
}

.section-two .san-pham {
    background-color: white;
    padding: 2rem;
    border-radius: 0.8rem;
}

.section-two .san-pham .item {
    border: 0.5px solid lightgray;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    min-height: 22rem;
}


.section-two .san-pham .item .img {
    overflow: hidden;
    height: 14rem;
    width: 100%;
}

.section-two .san-pham .item img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 0.6rem 0.6rem 0 0;
}

.section-two .san-pham .item p {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem;
    margin-top: 2rem;
}

.section-two .san-pham .item .price {
    font-size: 1rem;
    font-weight: 800;
    margin: 1rem;
    color: lightcoral;
}

/* End Section Two */

/* Section Three */
.section-three .inner-content {
    padding: 4rem 0;
}

.section-three h3{
    text-align: center;
    font-weight: 800;
    margin-bottom: 3rem;
    color: var(--color-br-dark);
}
.section-three .slideshow-container {
    position: relative;
    margin: auto;
}

.section-three .slides {
    display: none;
}

.section-three .fade {
    animation-name: fade;
    animation-duration: 5s;
}
.section-three .fade img{
    max-height: 40rem;
    object-fit: cover;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

/* Next & previous buttons */
.section-three .prev,
.section-three .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.section-three .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.section-three .prev:hover,
.section-three .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dot indicators */
.section-three .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.section-three .active,
.section-three .dot:hover {
    background-color: #717171;
}

/* End Section Three */

/* Footer */
footer {
    padding: 3rem 0rem;
    background-color: #2C3E50;
}

footer h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

footer .row {
    border-top: 1px solid white;
    padding: 1rem 0;
    color: white;
    font-size: 1rem;
}

footer .row h4 {
    font-size: 1rem;
    font-weight: 700;
}

footer .row .contact {
    display: flex;
    flex-direction: row;
}

footer .row .contact i {
    padding-right: 0.8rem;
    font-size: 1.5rem;
}

@media(max-width: 767.98px) {
    footer {
        padding: 2.5rem;
    }

    footer h3 {
        font-size: 1rem;
    }

    footer h4 {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.6rem;
    }
}

@media(max-width: 575.98px) {
    footer .row .contact {
        margin-bottom: 1rem;
    }

    footer {
        padding: 1rem;
        padding-bottom: 0;
    }
}

/* End Footer */