/* Header */

/* header {
    background-color: var(--color-background-one);
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    z-index: 100;
    background-color: #EFEFEF;
} */

header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    
    z-index: 100;
    transition: background-color 0.6s ease;
}

header.scrolled {
    background-color: #EFEFEF;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

header .inner-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header .inner-header a {
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
}

header .head-left img {
    padding: 27.5px 0px;
}

header .head-mid ul {
    display: flex;
    flex-direction: row;
}

header .head-mid ul li:hover {
    background-color: var(--color-main);
    transition: 0.5s;
}

header .head-mid ul li {
    padding: 30px 40px;
    font-size: 20px;
    color: black;
}

header .head-right {
    display: flex;
    align-items: center;
}

header .head-right p {
    margin: 0;
    font-size: 20px;
    color: var(--color-text);
    justify-content: center;
}

header .head-right p:hover {
    color: black;
    transition: 0.5s;
}

@media screen and (max-width : 991.98px) {
    .head-mid {
        display: none;
    }
}

/* End Header */

/* Section One */
.section-one {
    position: relative;
    padding-top: 80px;
    background-size: cover;
    width: 1920px;
    height: 910px;
}

.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    filter: blur(3px);
    z-index: -1;
    /* Đặt dưới nội dung */
}

.section-one .inner-content {
    padding-top: 250px;
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-one .inner-content h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
    color: #313f4e;
}

.section-one .inner-content h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #313f4e;
}

.section-one .inner-content p {
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    font-size: 18px;
}

.section-one .inner-content strong {
    font-size: 31px;
    font-weight: 700;
    color: #fc8ada;
}

.section-one .inner-content .highlight-1 {
    color: #53affa;
}

.section-one .button {
    padding: 13px 26px;
    background-color: #ff9fd4;
    border: 1px solid #ff9fd4;
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #2C3E50;
}

.section-one .button:hover {
    background-color: #EFF2F1;
    border: 1px solid gray;
    transition: 0.3s;
}

/* End Section One */

/* Section Two */
.section-two{
    background-color: var(--color-primary);
}
.section-two .inner-content {
    padding: 6rem 0;
    padding-bottom: 9rem;
}

.section-two h2 {
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.section-two .inner-content .item {
    background-color: var(--color-white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two .inner-content .item h4 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1px;
}

.section-two .inner-content .item p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.section-two .inner-content .item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-two .inner-content .item ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.section-two .inner-content .item ul li {
    padding: 0.7rem 1rem;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-primary);
}

/* End Section Two */