/* Header */
header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
    transition: background-color 0.6s ease;
}

header.scrolled {
    background-color: #EFEFEF;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

header .inner-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header .inner-header a {
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
}

header .head-left img {
    padding: 27.5px 0px;
}

header .head-mid ul {
    display: flex;
    flex-direction: row;
}

header .head-mid ul li:hover {
    background-color: var(--color-main);
    transition: 0.5s;
}

header .head-mid ul li {
    padding: 30px 40px;
    font-size: 20px;
    color: black;
}

header .head-right {
    display: flex;
    align-items: center;
}

header .head-right p {
    margin: 0;
    font-size: 20px;
    color: var(--color-text);
    justify-content: center;
}

header .head-right p:hover {
    color: black;
    transition: 0.5s;
}

header .inner-header .hMenu {
    display: none;
    top: 100%;
    width: 100%;
    margin: auto;
    z-index: 1000;
    background-color: var(--color-primary);
    border: 2px solid var(--color-white-hover);
    border-radius: 8px;
    position: absolute;
    text-align: center;
}

header .inner-header .hMenu ul {
    padding: 0;
}

header .inner-header .hMenu ul li {
    padding: 1rem 0;
    border-top: 1px solid lightgray;
    margin: 0 40px;
}

header .inner-header .menu {
    font-weight: 700;
    font-size: 30px;
    padding: 27.5px 0.5rem;
    display: none;
}

@media (max-width : 1199.98px) {
    header .inner-header .head-mid {
        display: none;
    }

    header .inner-header .head-right {
        display: none;
    }

    header .inner-header .menu {
        display: block;
    }
}

@media (max-width : 991.98px) {}

/* End Header */

/* Section One */
.section-one {
    position: relative;
    padding-top: 80px;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    filter: blur(3px);
    z-index: -1;
    /* Đặt dưới nội dung */
}

.section-one .inner-content {
    padding-top: 250px;
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-one .inner-content h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
    color: #313f4e;
}

.section-one .inner-content h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #313f4e;
}

.section-one .inner-content p {
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    font-size: 18px;
}

.section-one .inner-content strong {
    font-size: 31px;
    font-weight: 700;
    color: #fc8ada;
}

.section-one .inner-content .highlight-1 {
    color: #53affa;
}

.section-one .button {
    padding: 13px 26px;
    background-color: #ff9fd4;
    border: 1px solid #ff9fd4;
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #2C3E50;
}

.section-one .button:hover {
    background-color: #EFF2F1;
    border: 1px solid gray;
    transition: 0.3s;
}

/* End Section One */

/* Section Two */
.section-two {
    background-color: var(--color-primary);
}

.section-two .inner-content {
    padding: 6rem 0;
    padding-bottom: 9rem;
}

.section-two h2 {
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.section-two .inner-content .item {
    background-color: var(--color-white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two .inner-content .row:first-of-type {
    margin-bottom: 30px;
}

.section-two .inner-content .item h4 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1px;
}

.section-two .inner-content .item p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: var(--color-text);
}

.section-two .inner-content .item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-two .inner-content .item ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.section-two .inner-content .item ul li {
    padding: 0.7rem 1rem;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-primary);
}

.section-two .more-info {
    text-align: center;
}

.section-two .more-info h3 {
    font-size: 2rem;
    font-weight: 900;
    color: lightsalmon;
    margin: 0;
}

.section-two .more-info h4 {
    font-size: 1rem;
    color: var(--color-text);
}

@media (max-width: 1199.98px) {
    .section-two .inner-content .item {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .section-two .inner-content .item ul li {
        padding: 1rem 4rem;
    }
}

/* End Section Two */

/* Section Three */
.section-three {
    background-color: var(--color-br-dark);
    padding: 9rem;
}

.section-three .inner-content {
    background-color: var(--color-primary);
    padding: 3rem;
    border-radius: 0.8rem;
}
.section-three .inner-content .left p{
    font-size: 1.2rem;
}
.section-three .inner-content .left h2{
    font-size: 2.8rem;
    font-weight: 800;
}
.section-three .inner-content .problems {
    padding: 1rem;
    border-radius: 0.8rem;
    border: 1px solid lightslategray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-three .inner-content .problems:hover{
    background-color:var(--color-dark);
    color: var(--color-main);
    transition: 0.6s;
}
.section-three .inner-content .problems i{
    font-size: 1.5rem;
}
.section-three .inner-content .problems p{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}
/* End Section Three */

/* Section Four */
.section-four{
    background-color: var(--color-primary);
}
.section-four .inner-content{
    padding: 10rem 0;
}
.section-four .inner-content img{
    object-fit: cover;
    max-width: 100%;
    max-height: 30%;
    border-radius: 2rem;
}
/* End Section Four */

/* Footer */
footer {
    padding: 3rem 0rem;
    background-color: #2C3E50;
}

footer h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

footer .row {
    border-top: 1px solid white;
    padding: 1rem 0;
    color: white;
    font-size: 1rem;
}

footer .row h4 {
    font-size: 1rem;
    font-weight: 700;
}

footer .row .contact {
    display: flex;
    flex-direction: row;
}

footer .row .contact i {
    padding-right: 0.8rem;
    font-size: 1.5rem;
}

/* End Footer */